doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/account/passwordreset")
          +navloginlogout("/account/passwordreset")
      section#mainpage
        .container
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            h3 Сброс пароля
            if reset
              .alert.alert-success.center.messagebox
                strong Запрос на сброс пароля успешно отправлен
                p Пожалуйста проверьте #{resetEmail} для получения ссылки на восстановление пароля.
            else if resetErr
              .alert.alert-danger.center.messagebox
                strong Ошибка
                p= resetErr
            form(action="/account/passwordreset", method="post", role="form")
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label.control-label(for="username") Логин
                input#username.form-control(type="text", name="name")
              .form-group
                label.control-label(for="email") Email адрес
                input#email.form-control(type="email", name="email")
              button.btn.btn-primary.btn-block(type="submit") Отправить запрос на сброс

    include footer
    +footer()
