doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/account/passwordrecover/")
          +navloginlogout("/account/passwordrecover/")
      section#mainpage
        .container
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            h3 Восстановление пароля
            if recovered
              .alert.alert-success.center.messagebox
                strong Ваш пароль успешно изменен
                p Ваш аккаунт привязан к временному паролю <code>#{recoverPw}</code>. Вы можете использововать этот пароль для первого входа и изменить его на странице <a href="/account/edit">смены пароля/email</a>.
            else
              .alert.alert-danger.center.messagebox
                strong Ошибка восстановления пароля
                p= recoverErr
    include footer
    +footer()
