doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/account/profile")
          +navloginlogout("/account/profile")
      section#mainpage
        .container
          if !loggedIn
            .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
              .alert.alert-danger.messagebox.center
                strong Требуется авторизация
                p Вы должны выполнить <a href="/login">вход</a> для просмотра этой страницы.
          else
            .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
              h3 Профиль
              if profileError
                .alert.alert-danger.center.messagebox
                  strong Ошибка профиля
                  p= profileError
              .profile-box.linewrap(style="position: inherit; z-index: auto;")
                img.profile-image(src=profileImage)
                strong= loginName
                p= profileText
              h3 Изменение профиля
              form(action="/account/profile", method="post", role="form")
                input(type="hidden", name="_csrf", value=csrfToken)
                .form-group
                  label.control-label(for="profileimage") Аватар
                  input#profileimage.form-control(type="text", name="image")
                .form-group
                  label.control-label(for="profiletext") Текст профиля
                  textarea#profiletext.form-control(cols="10", name="text")= profileText
                button.btn.btn-primary.btn-block(type="submit") Сохранить

    include footer
    +footer()
    script(type="text/javascript").
      $("#profileimage").val("#{profileImage}");
