mixin lcheckbox(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input(type="checkbox", id=id)

mixin rcheckbox(id, label)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label(for=id)
          input(type="checkbox", id=id)
          = label

mixin textbox(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control(id=id, type="text", placeholder=placeholder)
      else
        input.form-control(id=id, type="text")

mixin lcheckbox-auto(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input.cs-checkbox(type="checkbox", id=id)

mixin rcheckbox-auto(id, label)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label(for=id)
          input.cs-checkbox(type="checkbox", id=id)
          = label

mixin textbox-auto(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control.cs-textbox(id=id, type="text", placeholder=placeholder)
      else
        input.form-control.cs-textbox(id=id, type="text")

mixin textbox-timeinput-auto(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control.cs-textbox-timeinput(id=id, type="text", placeholder=placeholder)
      else
        input.form-control.cs-textbox-timeinput(id=id, type="text")

mixin miscoptions
  #cs-miscoptions.tab-pane.active
    h4 Основные настройки
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox-auto("cs-allow_voteskip", "Разрешить голосовать за пропуск видео")
      +rcheckbox-auto("cs-allow_dupes", "Разрешить добавлять в очередь дубликаты видео ")
      +textbox-auto("cs-voteskip_ratio", "Доля голосов для пропуска", "0.5")
      +textbox-auto("cs-maxlength", "Максимальная длина видео", "HH:MM:SS")
      +textbox-auto("cs-afk_timeout", "Вешать флаг /afk через", "0 (отключено)")
      .form-group
        .col-sm-offset-4
    h4 Настройки сообщений
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox-auto("cs-enable_link_regex", "Преобразовывать URL в ссылки")
      +rcheckbox-auto("cs-chat_antiflood", "Включить антифлуд")
      +textbox-auto("cs-chat_antiflood_burst", "Кол-во сообщений до включения антифлуда")
      +textbox-auto("cs-chat_antiflood_sustained", "Кол-во сообщений в секунду после включенного антифлуда")
      +textbox-timeinput-auto("cs-new_user_chat_delay", "Задержка перед отправкой сообщений для новых пользователей", "0")
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Выставите 0 для отключения ограничений.
      +textbox-timeinput-auto("cs-new_user_chat_link_delay", "Задержка перед отправкой сообщений для новых пользователей", "0")
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Изменения сохраняются автоматически.

mixin adminoptions
  #cs-adminoptions.tab-pane
    h4 Настройки канала
    form.form-horizontal(action="javascript:void(0)")
      - var defname = "aNNiTube - /r/" + channelName
      +textbox-auto("cs-pagetitle", "Заголовок страницы", defname)
      +textbox-auto("cs-password", "Пароль", "оставьте пустым для отключения")
      +textbox-auto("cs-externalcss", "Внешний CSS", "ссылка на css файл")
      +textbox-auto("cs-externaljs", "Внешний Javascript", "ссылка на js файл")
      +rcheckbox-auto("cs-show_public", "Отображать канал на главной ")
      +rcheckbox-auto("cs-torbanned", "Блокировать подключения из сети Tor")
      +rcheckbox-auto("cs-allow_ascii_control", "Разрешить символы ASCII (например перенос строки)")
      +textbox-auto("cs-playlist_max_per_user", "Максимальное кол-во видео от одного пользователя")
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Выставите 0 для отключения ограничений.
      .form-group
        .col-sm-8.col-sm-offset-4
          span.text-info Изменения сохраняются автоматически.

mixin motdeditor
  #cs-motdeditor.tab-pane
    h4 Редактор MOTD (Message of the Day)
    p Допускается использование разметки HTML. Теги с javascript будет удалены.
    textarea.form-control#cs-motdtext(rows="10")
    button.btn.btn-primary#cs-motdsubmit Сохранить MOTD

mixin csseditor
  #cs-csseditor.tab-pane
    h4 Редактор CSS
    p Максимальный объем - 20КБ. Для подключения CSS большего объема воспользуйтесь пунктом "Внешний CSS" из меню "Админ-панель".
    textarea.form-control#cs-csstext(rows="10")
    button.btn.btn-primary#cs-csssubmit Save CSS

mixin jseditor
  #cs-jseditor.tab-pane
    h4 Редактор JS
    p Максимальный объем - 20КБ. Для подключения JS большего объема воспользуйтесь пунктом "Внешний JS" из меню "Админ-панель".
    textarea.form-control#cs-jstext(rows="10")
    button.btn.btn-primary#cs-jssubmit Сохранить JS

mixin banlist
  #cs-banlist.tab-pane
    h4 Список банов
    table.table.table-striped
      thead
        tr
          th Разбан
          th IP
          th Имя
          th Бан от

mixin recentjoins
  #cs-recentjoins.tab-pane
    h4 Последние подключения
    table.table.table-striped
      thead
        tr
          th Имя
          th Алиасы
          th Время

mixin chanranks
  #cs-chanranks.tab-pane
    h4 Список модераторов
    form.form-inline(action="javascript:void(0)", role="form")
      .input-group
        input#cs-chanranks-name.form-control(type="text", placeholder="Имя")
        span.input-group-btn
          button#cs-chanranks-mod.btn.btn-success +Модер
          button#cs-chanranks-adm.btn.btn-info +Админ
          button#cs-chanranks-owner.btn.btn-info +Владелец
    table.table.table-striped
      thead
        tr
          th Имя
          th Ранг

mixin chatfilters
  #cs-chatfilters.tab-pane
    h4 Чат-фильтры
    form.form-horizontal(action="javascript:void(0)", role="form")
      +textbox("cs-chatfilters-newname", "Название фильтра")
      +textbox("cs-chatfilters-newregex", "Регулярное выражение")
      .form-group
        label.control-label.col-sm-4(for="cs-chatfilters-newflags") Флаги
        .col-sm-8
          input#cs-chatfilters-newflags.form-control.cs-textbox(type="text", value="g")
      +textbox("cs-chatfilters-newreplace", "Замена")
      .form-group
        .col-sm-8.col-sm-offset-4
          button#cs-chatfilters-newsubmit.btn.btn-primary Создать фильтр
    table.table.table-striped.table-condensed
      thead
        tr
          th Управление
          th Название
          th Статус работы

    button#cs-chatfilters-export.btn.btn-default Экспорт фильтров
    button#cs-chatfilters-import.btn.btn-default Импорт фильтров
    textarea#cs-chatfilters-exporttext.form-control(rows="5")

mixin emotes
  #cs-emotes.tab-pane
    h4 Смайлы
    form.form-horizontal(action="javascript:void(0)", role="form")
      +textbox("cs-emotes-newname", "Текст для замены")
      +textbox("cs-emotes-newimage", "Ссылка на изображение")
      .form-group
        .col-sm-8.col-sm-offset-4
          button#cs-emotes-newsubmit.btn.btn-primary Создать смайл
    form.form-inline
      .form-group
        input.emotelist-search.form-control(type="text", placeholder="Поиск")
      .form-group
        .checkbox
          label
            input.emotelist-alphabetical(type="checkbox")
            | Сортировать по алфавиту
    .emotelist-paginator-container
    table.emotelist-table.table.table-striped.table-condensed
      thead
        tr
          th Удалить
          th Текст
          th Изображение
      tbody

    button#cs-emotes-export.btn.btn-default Экспорт смайлов
    button#cs-emotes-import.btn.btn-default Импорт смайлов
    textarea#cs-emotes-exporttext.form-control(rows="5")

mixin chanlog
  #cs-chanlog.tab-pane
    h4 Лог канала
    strong Фильтрация по:
    select#cs-chanlog-filter.form-control(multiple="multiple")
    pre#cs-chanlog-text
    button.btn.btn-default#cs-chanlog-refresh Обновить

mixin permeditor
  #cs-permedit.tab-pane
