mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        Copyright &copy; 2013-2016 Calvin Montgomery&nbsp;&middot;&nbsp;<a href="https://github.com/calzoneman/sync" target="_blank" rel="noreferrer noopener">GitHub</a>&nbsp;&middot;&nbsp;<a href="/useragreement" target="_blank">User Agreement</a>&nbsp;&middot;&nbsp;<a href="/contact" target="_blank">Contact</a>&nbsp;&middot;&nbsp;<a href="https://github.com/calzoneman/sync/wiki" target="_blank" rel="noopener noreferrer">Wiki</a>
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // aNNiMON должен будет выкинуть все это дерьмо когда-нибудь
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
