- var DEFAULT_THEME = "/css/themes/des.css";

mixin head()
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content=siteDescription)
  meta(name="author", content=siteAuthor)

  title= siteTitle
  link(href="/css/sticky-footer-navbar.css", rel="stylesheet")
  link(href="/css/cytube.css", rel="stylesheet")
  link(id="usertheme", href=DEFAULT_THEME, rel="stylesheet")

  script(type="text/javascript").
    var DEFAULT_THEME = '#{DEFAULT_THEME}';
  script(src="/js/theme.js")
  //[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  //[endif]
