mixin notfound()
  h1 Не найдено
  p Страница, которую вы искали, вероятно не существует. Пожалуйста, убедитесь, что вы набрали URL правильно.
  if message
    p Причина: #{message}
mixin forbidden()
  h1 Запрещено
  p У вас нет разрешения для доступа к <code>#{path}</code>
mixin genericerror()
  h1 Упс
  p Ваш запрос не может быть обработан. Код статуса: <code>#{status}</code>, сообщение: <code>#{message}</code>
doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks(path)
          +navloginlogout(path)

      section#mainpage.container
        .col-md-12
          .alert.alert-danger
            if status == 404
              +notfound()
            else if status == 403
              +forbidden()
            else
              +genericerror()

    include footer
    +footer()
