doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/login")
          if loggedIn
            +navlogoutform("/")
      section#mainpage.container
        if wasAlreadyLoggedIn
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-info.messagebox.center
              h3(style="margin: 5px auto") Вы вошли как #{loginName}
        else if !loggedIn
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            if loginError
              .alert.alert-danger.messagebox.center
                strong Ошибка авторизации
                p= loginError
            h2 Вход
            form(role="form", action="/login", method="post")
              input(type="hidden", name="_csrf", value=csrfToken)
              if redirect
                input(type="hidden", name="dest", value=redirect)
              .form-group
                label(for="username") Логин
                input#username.form-control(type="text", name="name")
              .form-group
                label(for="password") Пароль
                input#password.form-control(type="password", name="password")
                a(href="/account/passwordreset") Забыли пароль?
              .form-group
                .checkbox
                  label
                    input(type="checkbox", name="remember")
                    | Запомнить меня
              button.btn.btn-success.btn-block(type="submit") Войти
        else
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-success.messagebox.center
              strong Успешная авторизация
              p Вы вошли как #{loginName}
                if redirect
                  br
                  a(href=redirect) Вернуться на предыдущую страницу
    include footer
    +footer()
