- var links = { "/": "Главная" };

mixin navlink(page, title, active)
  if active
    li.active
      a(href=page)= title
  else
    li
      a(href=page)= title

mixin navheader()
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-collapsible")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/")= siteTitle

mixin navdefaultlinks(page)
  each t, p in links
    if p == page
      +navlink(p, t, true)
    else
      +navlink(p, t, false)
  li.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") Аккаунт
      b.caret
    ul.dropdown-menu
      if loggedIn
        li: a(href="javascript:$('#logoutform').submit();") Выйти
        li.divider
        li: a(href=loginDomain+"/account/channels") Каналы
        li: a(href=loginDomain+"/account/profile") Профиль
        li: a(href=loginDomain+"/account/edit") Изменить пароль/email
      else
        li: a(href=loginDomain+"/login?dest=" + encodeURIComponent(baseUrl + page)) Войти
        li: a(href=loginDomain+"/register") Зарегистрироваться

mixin navsuperadmin(newTab)
  if superadmin
    if newTab
      li: a(href="/acp", target="_blank") Админка
    else
      li: a(href="/acp") Админка

mixin navloginlogout(redirect)
  if loggedIn
    +navlogoutform(redirect)
  else
    +navloginform(redirect)

mixin navloginform(redirect)
  if loginDomain == null
    - loginDomain = ""
  .visible-lg
    form#loginform.navbar-form.navbar-right(action=loginDomain+"/login", method="post")
      input(type="hidden", name="_csrf", value=csrfToken)
      input(type="hidden", name="dest", value=baseUrl + redirect)
      .form-group
        input#username.form-control(type="text", name="name", placeholder="Имя пользователя")
      .form-group
        input#password.form-control(type="password", name="password", placeholder="Пароль")
      .form-group
        .checkbox
          label
            input(type="checkbox", name="remember")
            span.navbar-text-nofloat Запомнить меня
      button#login.btn.btn-default(type="submit") Войти
  .visible-md
    p#loginform.navbar-text.pull-right
      a#login.navbar-link(href=loginDomain+"/login?dest="+encodeURIComponent(baseUrl+redirect)) Войти
      span &nbsp;&middot;&nbsp;
      a#register.navbar-link(href="/register") Зарегистрироваться


mixin navlogoutform(redirect)
  form#logoutform.navbar-text.pull-right(action="/logout", method="post")
    input(type="hidden", name="dest", value=baseUrl + redirect)
    input(type="hidden", name="_csrf", value=csrfToken)
    span#welcome Привет, #{loginName}
    span &nbsp;&middot;&nbsp;
    input#logout.navbar-link(type="submit", value="Выйти")

